.table-viewport {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.table-viewport::-webkit-scrollbar {
    width: 12px;
}

.footer-mid::-webkit-scrollbar {
  height: 12px;
}

.table-viewport::-webkit-scrollbar-thumb,
.footer-mid::-webkit-scrollbar-thumb {
  background: var(--head-cell-text);
  border-radius: 6px;
}

.table-viewport::-webkit-scrollbar-track,
.footer-mid::-webkit-scrollbar-track {
  background: var(--table-tag-bg);;
  border: 1px solid var(--border);
}

.table-body {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.table-footer {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.footer-left {
    height: 60px;
    max-width: 300px;
    flex: 0 0 300px;
    display: flex;
}

.footer-mid {
    height: 60px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.footer-mid {
  flex: 1 0 300px;
  min-width: 0;
  overflow-x: auto;
}

.footer-right {
    flex: 0 0 520px;
    height: 60px;
    display: flex;
}

.scrollbar-spacer {
    flex: 0 0 auto;
    height: 60px;
    border-left: none;
    background: linear-gradient(180deg, var(--td-light-bg) 0%, var(--td-dark-bg) 100%);
}
