.footer-tag {
    background-color: var(--table-tag-bg);
    position: sticky;
    bottom: 0;
    z-index: 2;
    color: var(--head-text);
}

.footer-td {
    display: flex;
    height: 60px;
    flex: 0 0 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
}

.footer-documents {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: var(--head-cell-text) !important;
    background: linear-gradient(180deg, var(--td-light-bg) 0%, var(--td-dark-bg) 100%);
}

.footer-allTags {
    flex: 1;
    background: var(--table-tag-bg);
}

.footer-notes {
    flex: 2;
    background: linear-gradient(180deg, var(--td-light-bg) 0%, var(--td-dark-bg) 100%);
}

.inner-footer-cell {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--cell-text);
}

.footer-allTags .inner-footer-cell {
    width: 95%;
}
