.table-container {
    border-radius: 15px;
    max-height: 700px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 20%;
    max-width: 1200px;
    width: 100%;
    border: 1px solid var(--border);
}

.table-viewport {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.table-header {
    display: flex;
}

.header-left {
    height: 60px;
    width: 100%;
    flex: 0 0 300px;
    display: flex;
}

.header-right,
.footer-right {
    flex: 0 0 600px;
    height: 60px;
    display: flex;
}

.header-mid {
    height: 60px;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
}

.table-body {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.table-footer {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.body-left {
    height: 60px;
    max-width: 300px;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
}

.body-mid {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.body-right {
    flex: 0 0 584px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.footer-left {
    height: 60px;
    max-width: 300px;
    flex: 0 0 300px;
    display: flex;
}

.footer-mid {
    height: 60px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.header-mid,
.body-mid,
.footer-mid {
  flex: 1 1 0;
  min-width: 0;
  overflow-x: auto;
}