:root {
  --text: #6b6375;
  --full-tag-bg-color: #66b8ee;
  --dark-text: #292624;
  --selected-cell: #ffff80;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

[data-theme='light'] {
  --td-dark-bg: #EDF2F7;
  --td-light-bg: #F8FAFC;
  --border: #e4e8ec;
  --table-tag-bg: #fff;
  --tag-heat-min-color: #f3f9fd;
  --full-tag-bg-color: #66b8ee;
  --cell-text: #292624;
  --head-cell-text: #738296;
}

[data-theme='dark'] {
  --td-dark-bg: #3e454c;
  --td-light-bg: #3f454d;
  --border: #3e444c;
  --table-tag-bg: #282e34;
  --tag-heat-min-color: #282e34;
  --full-tag-bg-color: #66b8ee;
  --cell-text: #e2e6eb;
  --head-cell-text: #b3bfcc;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

td {
  border: 1px solid var(--border);
  height: 60px;
  overflow: hidden;
  text-align: start;
  padding: 0 10px;
}

tr {
  height: 60px;
}

thead {
  border-radius: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
